/* Page
 *******/

@charset "UTF-8";

@viewport {
  width: device-width;
}

html {
  @media (--breakpoint-min-iphone) {
    text-size-adjust: none;
  }
}

html,
body {
  height: 100%;
  min-height: 100%;
  overflow-scrolling: touch; /* Needed to have smooth scrolling on iOS */
}

/** Padding is included */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @apply --base-font;
  @apply --pattern-bright-squares-bamboo;
  color: var(--color-very-dark-magenta);
  font-size: var(--base-font-size);
  font-smoothing: subpixel-antialiased;
  font-style: normal;
  font-weight: var(--weight-normal);
  hyphens: auto;
  line-height: var(--base-line-height);
  margin: 0;
  overflow-x: hidden;

  @nest .wf-active & {
    @apply --base-font-wf;
  }
}

.svg-icons {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

.content {
  outline: 0;
}

.skip-link:any-link {
  background-color: var(--color-moderate-red);
  border-bottom-left-radius: 10px;
  color: var(--color-white);
  font-size: var(--modular-scale-0);
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  top: -40px;
  width: 150px;

  &:focus {
    top: 0;
  }
}

.footer {
  clear: both;
}
