<blockquote class="quote">
  {{ .Inner }}
  {{ if or (.Get "author") (.Get "cite") (.Get "url") }}
  <footer class="quote-footer">
    {{- if .Get "author" -}}
      <strong class="quote-author">{{ .Get "author" }}</strong>
    {{- end -}}
    {{ if or (and (.Get "author") (.Get "cite")) (and (.Get "author") (.Get "url")) }}, {{ end }}
    {{ if or (.Get "cite") (.Get "url") }}
      <cite class="quote-cite">
        {{ if .Get "url" }}
          <a href="{{ .Get "url" }}">
            {{ if .Get "cite" }}
              {{ .Get "cite" }}
            {{ else }}
              {{ .Get "url" }}
            {{ end }}
          </a>
        {{ else }}
          {{ .Get "cite" }}
        {{ end }}
      </cite>
    {{ end }}
  </footer>
  {{ end }}
</blockquote>
