{{ $books := .Site.Data.books }}
{{ $asin := .Get 0 }}

{{ range $books }}
  {{ if eq .asin $asin }}
    <aside class="recommendation" itemscope itemtype="http://schema.org/Book">
      <div class="recommendation-image-container">
        <img class="recommendation-image" width="80" src="/assets/images/{{ .cover }}" alt="{{ .title }}" itemprop="image">
      </div>

      <div class="recommendation-info">
        <h4 class="recommendation-title" itemprop="name">
          {{ .title }}
        </h4>

        {{ $len := len .contributors }}
        <p class="recommendation-contributors">
          <i>von</i>
          {{ range $i, $c := .contributors }}
          <span itemprop="author">
            {{- .name -}}
          </span>{{ if lt (add $i 1) $len }}, {{ end }}
          {{ end }}
        </p>

        <a class="recommendation-link" href="http://www.amazon.de/gp/product/{{ .asin }}?ie=UTF8&tag=kogakurede-21&linkCode=as2&camp=1638&creative=6742&creativeASIN={{ .asin }}" target="_blank" rel="noopener">
          Kaufen
        </a>
      </div>
    </aside>
  {{ end }}
{{ end }}
