<figure {{ if .Get "class" }} class="{{ .Get "class" }}"{{ end }}>
  <div class="figure-content">
    {{ .Inner }}
    {{ if or (.Get "author") (.Get "cite") (.Get "url") }}
      <p class="attribution-text">
        ©
        {{ if .Get "author" }}
          {{ .Get "author" }}{{ if and (.Get "author") (or (.Get "url") (.Get "cite")) }}, {{ end }}
        {{ end }}

        {{ if .Get "url" }}
          <a href="{{ .Get "url" }}">
            {{ if .Get "cite" }}
              {{ .Get "cite" }}
            {{ else }}
              {{ .Get "url" }}
            {{ end }}
          </a>
        {{ else }}
          {{ if .Get "cite" }}
            {{ .Get "cite" }}
          {{ end}}
        {{ end }}
      </p>
    {{ end }}
  </div>
  {{ if .Get "caption" }}
  <figcaption>
    {{ .Get "caption" | safeHTML }}
  </figcaption>
  {{ end }}
</figure>
