/* Grid
 *******/

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-max-width);

  @media (--breakpoint-min-container) {
    margin-bottom: 100px;
  }
}

/** Fullsize Grid */
.grid {
  background-color: rgba(var(--color-white), 0.8);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1px;
  position: relative;

  @media (--breakpoint-min-medium) {
    padding-left: 72px;
    padding-right: 72px;
  }
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-column-gap: 15px;
    grid-template-areas:
    "navigation"
    "content";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    padding-left: 15px;
    padding-right: 15px;

    @media (--breakpoint-min-medium) {
      grid-template-areas:
      ". navigation ."
      ". content .";
      grid-template-columns: 57px 1fr 57px;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

/** Small Grid */
.grid--small .grid {
  padding-left: 15px;
  padding-right: 15px;

  @media (--breakpoint-min-medium) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (--breakpoint-min-xlarge) {
    padding-left: 155px;
    padding-right: 155px;
  }
}

@supports (display: grid) {
  .grid--small .grid {
    display: grid;
    grid-column-gap: 15px;
    grid-template-areas:
    "navigation"
    "content";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    padding-left: 15px;
    padding-right: 15px;
    position: relative;

    @media (--breakpoint-min-medium) {
      grid-template-areas:
      "navigation navigation navigation"
      ". content .";
      grid-template-columns: 50px 1fr 50px;
      padding-left: 0;
      padding-right: 0;
    }

    @media (--breakpoint-min-xlarge) {
      grid-template-columns: 170px 1fr 170px;
    }
  }
}

.content {
  grid-area: content;
  padding-top: var(--default-spacing-top);
}
