/* Homepage
 ***********/

@supports (display: grid) {
  .homepage {
    display: grid;
    grid-row-gap: 50px;
  }
}

.homepage-headline {
  color: var(--color-dark-moderate-green);
  font-size: var(--modular-scale-2);
  font-weight: var(--weight-normal);

  @media (--breakpoint-min-medium) {
    font-size: var(--modular-scale-3);
  }

  @media (--breakpoint-min-large) {
    font-size: var(--modular-scale-4);
  }
}

.homepage-content {
  font-size: 16px;
}

@supports (not (display: grid)) and (display: flex) {
  .homepage-section {
    margin-bottom: 50px;
  }
}

@supports (not (display: grid)) and (not (display: flex)) {
  .homepage-section {
    clear: all;
    margin-bottom: 50px;
  }
}
