/* Recommendations
 ******************/

.recommendations {
  list-style: none;
  margin-left: 0;
  margin-right: 0;
}

@supports (display: grid) {
  .recommendations {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
}

@supports (not (display: grid)) and (display: flex) {
  .recommendations {
    display: flex;
    flex-wrap: wrap;
  }
}

@supports (not (display: grid)) and (display: flex) {
  .recommendations-item {
    margin-bottom: 15px;
    padding-right: 15px;
    width: 100%;

    @media (--breakpoint-min-small) {
      width: 50%;
    }

    @media (--breakpoint-min-xlarge) {
      width: 33%;
    }
  }
}

@supports (not (display: grid)) and (not (display: flex)) {
  .recommendations-item {
    float: left;
    height: 160px;
    margin-bottom: 15px;
    width: 50%;
  }
}

.recommendations-item {
  display: flex;
  position: relative;
}

.recommendations-image-container {
  flex-grow: 0;
  flex-shrink: 0;
}

@supports (not (display: grid)) and (not (display: flex)) {
  .recommendations-image-container {
    float: left;
    width: 100px;
  }
}

.recommendations-image {
  border: 1px solid var(--color-dimmed-grey);
  padding: 4px;
  width: 100px;
}

.recommendations-info {
  padding-left: 5px;
}


@supports (not (display: grid)) and (not (display: flex)) {
  .recommendations-info {
    float: left;
    width: calc(100% - 100px);
  }
}

.recommendations-info-title {
  font-size: var(--modular-scale-0);
  margin-bottom: 0;
  margin-top: 0;
}

.recommendations-info-contributors {
  font-size: var(--font-size-small);
  margin-bottom: 5px;
  margin-top: 0;
}

.recommendations-info-pages,
.recommendations-info-language,
.recommendations-info-year,
.recommendations-info-duration {
  font-size: var(--font-size-small);
  margin-bottom: 0;
  margin-top: 0;
}

.recommendations-new {
  background-color: var(--color-moderate-red);
  border-radius: 3px;
  color: var(--color-white);
  display: inline-block;
  font-size: var(--font-size-small);
  padding-left: 3px;
  padding-right: 3px;
}
