/* Scrollbar
 ************/

::-webkit-scrollbar {
  background: var(--color-scrollbar-background);
  height: 5px;
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-scrollbar-track);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-scroll-handle);
  border-radius: 5px;

  &:hover {
    background: var(--color-scroll-handle-hover);
  }
}
