<section class="homepage-articles">
  <h2 class="homepage-headline homepage-articles-headline">
    Artikelsammlung über Ninja und Ninjutsu
  </h2>

  <div class="homepage-content homepage-articles-content">
    <p>Diese Website enthält <strong>{{ len (where .Site.RegularPages "Section" "==" "artikel") }}</strong> Artikel über die <em>Entstehung</em>, <em>Geschichte</em> und den <em>Niedergang</em> der Ninja.</p>
    <p>Außerdem gebe ich einen Einblick in <em>Organisation</em> und  <em>Ausbildung</em>, <em>Kampfkunst</em>, <em>Training</em>, <em>Werkzeuge</em> und <em>Waffen</em>. </p>
    <p>Ich erkläre, wie die Ninja ihre <em>geistigen Kräfte</em> einsetzten und <em>Philosophie</em>, <em>Strategie</em> und <em>Taktik</em> verwendeten, um ihre Ziele zu erreichen.</p>
    <p>Abschließend gebe ich noch einen Einblick in die 9 Schulen des <em>Bujinkan</em> und die <em>Biografien</em> der letzten zwei Großmeister.</p>
    <p>Beim ersten Besuch empfehle ich, zuerst mit dem Artikel <a href="/artikel/ninjutsu/">Ninjutsu</a> zu starten. Eine Übersicht über alle Artikel ist in der <a href="/artikel/">Artikelübersicht</a> zu finden.</p>

    <a class="button-link" href="/artikel/">
      <span>Artikelübersicht</span>
    </a>
  </div>
</section>
