<section class="homepage-section homepage-book">
  <div class="homepage-content homepage-book-content">
    <h2 class="homepage-headline homepage-book-headline">
      Das Buch
    </h2>

    <p>
      Es gibt den Inhalt dieser Website als Buch zum online lesen auf <a href="https://book.kogakure.de" target="_blank" rel="noopener">book.kogakure.de</a> oder zum <strong>kostenlosen</strong> <a href="https://www.gitbook.com/book/kogakure/book-kogakure/" target="_blank" rel="noopener">Download als eBook</a> (PDF, ePub, Mobi).
    </p>

    <a class="button-link" href="https://book.kogakure.de/" target="_blank" rel="noopener">
      <span>Online lesen</span>
    </a>

    <a class="button-link" href="https://www.gitbook.com/book/kogakure/book-kogakure/" target="_blank" rel="noopener">
      <span>eBook herunterladen</span>
    </a>
  </div>

  <div>
    <a href="https://book.kogakure.de" target="_blank" rel="noopener">
      <img class="homepage-book-image" src="/assets/images/homepage/book.jpg" width="375" height="492" alt="Buch-Cover des Buches 'kogakure'">
    </a>
  </div>
</section>
