<section class="homepage-section homepage-chronology">
  <div class="homepage-content homepage-chronology-content">
    <h2 class="homepage-headline homepage-chronology-headline">
      Chronologie
    </h2>

    <p>Diese Website gibt es seit <strong>1999</strong>. In den <strong>{{ sub (int (now.Format "2006")) 1999 }} Jahren</strong> ist viel passiert. Was als kleine Artikelsammlung anfing, ist heute die bekannteste Website zum Thema Ninja und Ninjutsu im deutschsprachigen Raum. Die Website war für Artikel in <strong>Magazinen</strong> und <strong>Fernsehdokumentation</strong> über Ninja eine Quelle des Wissens.</p>
    <p>Das Design hat sich im Laufe der Jahre mehrfach geändert, ebenso die technische Implementierung.</p>
    <p>In der Chronologie ist eine Übersicht zu finden, was so im Lauf der Zeit passiert ist.</p>

    <a class="button-link" href="/chronologie/">
      <span>Chronologie ansehen</span>
    </a>
  </div>

  <ul class="homepage-chronology-gallery">
    <li class="homepage-chronology-gallery-item chronology--1999">
      <span>Design 1999</span>
    </li>
    <li class="homepage-chronology-gallery-item chronology--2002">
      <span>Design 2002</span>
    </li>
    <li class="homepage-chronology-gallery-item chronology--2004">
      <span>Design 2004</span>
    </li>
    <li class="homepage-chronology-gallery-item chronology--2008">
      <span>Design 2008</span>
    </li>
    <li class="homepage-chronology-gallery-item chronology--2015">
      <span>Design 2015</span>
    </li>
  </ul>
</section>
