<section class="homepage-dictionary">
  <div class="homepage-content homepage-dictionary-content">
    <h2 class="homepage-headline homepage-dictionary-headline">
      Lexikon
    </h2>

    <p>Diese Website enthält ein Lexikon mit <strong>{{ .Site.Data.dictionary | len }}</strong> japanischen Wörtern aus den Bereichen Ninja, Ninjutsu und Kampfkunst.</p>
    <p>Für die meisten Worte gebe ich nicht nur die Aussprache in <a href="https://de.wikipedia.org/wiki/Hepburn-System" target="_blank" rel="nofollow">Hepburn-Umschrift</a> an, sondern auch noch die japanische Schreibweise und die Bedeutung.</p>

    <a class="button-link" href="/lexikon/">
      <span>Lexikon ansehen</span>
    </a>
  </div>

  <div class="homepage-dictionary-card-container">
    <div class="homepage-dictionary-card">
      <div class="homepage-dictionary-japanese">
        <ruby class="homepage-dictionary-kanji">
          忍
          <rp>（</rp>
          <rt class="homepage-dictionary-kana">
            しのぶ
          </rt>
          <rp>）</rp>
        </ruby>

        <div>shinobu</div>
      </div>
      <ol class="homepage-dictionary-definition">
        <li>ertragen, aushalten, dulden</li>
        <li>verstecken, verbergen, spähen, schleichen</li>
      </ol>
    </div>
  </div>
</section>
