<section class="homepage-section homepage-donations">
  <h2 class="homepage-headline homepage-donations-headline">
    <span class="homepage-donations-heart">♥︎</span> Spenden
  </h2>

  <div class="homepage-content homepage-donations-content">
    <p>Diese Website und das Buch sind <strong>kostenlos</strong>, <strong>werbefrei</strong> und haben mich im Laufe der Zeit viele hundert Stunden Arbeit gekostet.</p>
    <p>Wenn Sie dir gefallen haben, freue ich mich über <strong>Lob und Anerkennung</strong>. Du kannst mich unterstützen, indem du etwas aus meinen <a href="/empfehlungen/">Empfehlungen</a> kaufst, mir etwas von meinem <a href="https://www.amazon.de/gp/registry?id=DWPHDTENPV6E&amp;type=wishlist" target="_blank" rel="nofollow">Amazon-Wunschzettel</a> schenkst oder mir eine kleine Spende über <a href="https://www.paypal.me/kogakure/" target="_blank" rel="nofollow">PayPal</a> zukommen lässt.</p>

    <a class="button-link" href="https://www.paypal.me/kogakure/" target="_blank" rel="nofollow">
      <span>Spenden mit PayPal</span>
    </a>
  </div>
</section>
