<section class="homepage-downloads">
  <div class="homepage-content homepage-downloads-content">
    <h2 class="homepage-headline homepage-downloads-headline">
      Downloads
    </h2>

    <p>Ich biete die <strong>Geheimschrift</strong> der Iga-Ninja im OTF-Format zum Download an. Außerdem einige <strong>3D-Modelle</strong> und <strong>Renderings</strong> von Waffen und Werkzeugen aus älteren Versionen dieser Website.</p>
  </div>
  <div class="homepage-downloads-box">
    <ul class="homepage-downloads-box-list">
      <li class="homepage-downloads-box-list-item homepage-downloads-box-list-item--font">
        <a class="homepage-downloads-link" href="https://github.com/kogakure/font-ingo" title="Iga-Ninja Font" target="_blank" rel="nofollow">
          <span>Iga-Ninja Font</span>
        </a>
      </li>
      <li class="homepage-downloads-box-list-item homepage-downloads-box-list-item--model">
        <a class="homepage-downloads-link" href="https://github.com/kogakure/3d-models-kogakure" title="3D-Modelle von Waffen und Werkzeugen" target="_blank" rel="nofollow">
          <span>3D-Modelle von Waffen und Werkzeugen</span>
        </a>
      </li>
    </ul>
  </div>
</section>
