<section class="homepage-quotes">
  <div class="homepage-content homepage-quotes-content">
    <h2 class="homepage-headline homepage-quotes-headline">
      Zitate
    </h2>

    <p>In diesem Bereich finden sich <strong>{{ .Site.Data.quotes | len }}</strong> Zitate und Sprüche.</p>

    <a class="button-link" href="/zitate/">
      <span>Zitate ansehen</span>
    </a>
  </div>

  <div class="homepage-quotes-quote">
    <blockquote class="quote">
      <p><nobr>Das Aussortieren des</nobr> <nobr>Unwesentlichen ist der Kern</nobr> <nobr>aller Lebensweisheiten</nobr>.</p>

      <footer class="quote-footer">
        <strong class="quote-author">
          Lao Tzu
        </strong>
      </footer>
    </blockquote>
  </div>
</section>
