{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{ .Content }}

  {{ range .Site.Data.quotes }}
    <blockquote class="quote">
      <p>{{ replace .text "\n" "<br>" | safeHTML }}</p>

      <footer class="quote-footer">
        {{- if .author -}}
        <strong class="quote-author">
          {{- .author -}}
        </strong>
        {{- end -}}

        {{ if and .author .cite }}, {{ end }}

        {{ if .cite }}
        <cite class="quote-cite">
          {{ .cite }}
        </cite>
        {{ end }}
      </footer>
    </blockquote>
  {{ end }}
{{ end }}
