{{ define "main" }}
  <h1>{{ .Title }}</h1>

  {{ .Content }}

  <h2>Bücher</h2>

  <ul class="books recommendations">
    {{ range .Site.Data.books }}
    <li class="recommendations-item" itemscope itemtype="http://schema.org/Book">
      <div class="recommendations-image-container">
        {{ if .asin }}
          <a class="recommendations-link" href="http://www.amazon.de/gp/product/{{ .asin }}?ie=UTF8&tag=kogakurede-21&linkCode=as2&camp=1638&creative=6742&creativeASIN={{ .asin }}" rel="nofollow" target="_blank">
            <img class="recommendations-image" src="/assets/images/{{ .thumbnail }}" alt="{{ .title }}" itemprop="image">
          </a>
        {{ end }}
      </div>

      <div class="recommendations-info">
        {{ if .new }}
          <div class="recommendations-new">
            Neu
          </div>
        {{ end }}

        <h3 class="recommendations-info-title" itemprop="name">
          {{ .title }}
        </h3>

        {{ if .contributors }}
        {{ $len := len .contributors }}
        <p class="recommendations-info-contributors">
          <i>von</i>
          {{ range $i, $c := .contributors }}
          <b itemprop="author">
            {{- .name -}}
          </b>{{ if lt (add $i 1) $len }}, {{ end }}
          {{ end }}
        </p>
        {{ end }}

        {{ if .pages }}
          <p class="recommendations-info-pages">
            {{ .pages }} Seiten
          </p>
        {{ end }}

        {{ if .language }}
          <p class="recommendations-info-language">
            {{ .language }}
          </p>
        {{ end }}
      </div>
    </li>
    {{ end }}
  </ul>

  <h2>Filme</h2>

  <ul class="movies recommendations">
    {{ range .Site.Data.movies }}
    <li class="recommendations-item" itemscope itemtype="http://schema.org/Movie">
      <div class="recommendations-image-container">
        {{ if .asin }}
        <a class="recommendations-link" href="http://www.amazon.de/gp/product/{{ .asin }}?ie=UTF8&tag=kogakurede-21&linkCode=as2&camp=1638&creative=6742&creativeASIN={{ .asin }}" rel="nofollow" target="_blank">
          <img class="recommendations-image" src="/assets/images/{{ .thumbnail }}" alt="{{ .title }}" itemprop="image">
        </a>
        {{ end }}

        {{ if and (.imdb) (not .asin) }}
        <a class="recommendations-link" href="https://www.imdb.com/title/{{ .imdb }}" rel="nofollow" target="_blank">
          <img class="recommendations-image" src="/assets/images/{{ .thumbnail }}" alt="{{ .title }}" itemprop="image">
        </a>
        {{ end }}
      </div>

      <div class="recommendations-info">
        {{ if .new }}
          <div class="recommendations-new">
            Neu
          </div>
        {{ end }}

        <h3 class="recommendations-info-title" itemprop="name">
          {{ .title }}
        </h3>

        {{ if .director }}
          <p class="recommendations-info-contributors">
            <i>von</i>
            <b itemprop="name">{{ .director }}</b>
          </p>
        {{ end }}

        {{ if .year }}
          <p class="recommendations-info-year">
            ({{ .year }})
          </p>
        {{ end }}

        {{ if .duration }}
          <p class="recommendations-info-duration">
            {{ .duration }}
          </p>
        {{ end }}
      </div>

    </li>
    {{ end }}
  </ul>
{{ end }}
