<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>
    {{ if .IsHome }}
      {{ .Site.Data.settings.title }}
    {{ else if .IsNode }}
      {{ if eq .Page.Type "artikel" }}
      Artikelverzeichnis - {{ .Site.Data.settings.title }}
      {{ end }}
    {{ else }}
      {{ .Title | plainify }} - {{ .Site.Data.settings.title }}
    {{ end }}
  </title>

  <!-- Mobile -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="{{ .Site.Data.settings.title }}">

  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="address=no">

  <!-- Web Application Manifest -->
  <link rel="manifest" href="/manifest.json">

  <!-- Prefetch -->
  <link rel="dns-prefetch" href="//fonts.googleapis.com">
  {{ if not .IsHome }}
    <link rel="prerender" href="{{ .Site.BaseURL }}">
  {{ end }}
  {{ if .IsPage }}
    {{ if .NextInSection }}
      <link rel="prefetch" href="{{ .NextInSection.Permalink }}">
    {{ end }}
    {{ if .PrevInSection }}
      <link rel="prefetch" href="{{ .PrevInSection.Permalink }}">
    {{ end }}
  {{ end }}

  <!-- Fonts -->
  <meta http-equiv="cleartype" content="on">

  <!-- Robots -->
  {{ if and (.IsNode) (ne .IsHome true) }}
    <meta name="robots" content="noindex,follow">
  {{ else }}
    {{ if isset .Params "robots" }}
      <meta name="robots" content="{{ .Params.robots }}">
    {{ else}}
      <meta name="robots" content="all">
    {{ end }}
  {{ end }}

  <!-- Description -->
  {{ if isset .Params "description" }}
    <meta name="description" content="{{ .Params.description }}">
  {{ else if isset .Params "excerpt" }}
    <meta name="description" content="{{ .Params.excerpt }}">
  {{ else }}
    <meta name="description" content="{{ .Site.Data.settings.seo.description }}">
  {{ end }}

  <!-- Twitter Card -->
  {{ if .IsHome }}
    <meta name="twitter:card" content="summary_large_image">
  {{ else }}
    <meta name="twitter:card" content="summary">
  {{ end }}
  <meta name="twitter:site" content="{{ .Site.Data.settings.social.twitter }}">
  <meta name="twitter:url" content="{{ .Permalink }}">
  <meta name="twitter:title" content="{{ if .IsHome }}{{ .Site.Data.settings.title }}{{ else }}{{ replace .Title "&nbsp;" " " | plainify }} - {{ .Site.Data.settings.title }}{{ end}}">
  <meta name="twitter:description" content="{{ if isset .Params "description" }}{{ .Params.description }}{{ else }}{{ .Site.Data.settings.seo.description }}{{ end }}">
  <meta name="twitter:image" content="{{ .Site.BaseURL }}assets/images/{{ if isset .Params "og_image" }}{{ .Params.og_image }}{{ else}}og/meta-image.jpg{{ end }}">

  <!-- OpenGraph-->
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:title" content="{{ if .IsHome }}{{ .Site.Data.settings.title }}{{ else }}{{ replace .Title "&nbsp;" " " | plainify }} - {{ .Site.Data.settings.title }}{{ end}}">
  <meta property="og:description" content="{{ if isset .Params "description" }}{{ .Params.description }}{{ else }}{{ .Site.Data.settings.seo.description }}{{ end }}">
  <meta property="og:image" content="{{ .Site.BaseURL }}assets/images/{{ if isset .Params "og_image" }}{{ .Params.og_image }}{{ else}}og/meta-image.jpg{{ end }}">

  <!-- Google Authorship -->
  <link href="https://plus.google.com/{{ .Site.Data.settings.social.googleplus }}" rel="publisher">

  <!-- Language -->
  <meta name="content-language" content="{{ if isset .Params "language" }}{{ .Params.language }}{{ else }}{{ .Site.LanguageCode }}{{ end }}">

  <!-- Author -->
  <meta name="author" content="{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Data.settings.author }}{{ end }}">
  <link type="text/plain" rel="author" href="{{ .Site.BaseURL }}humans.txt">

  <!-- Keywords -->
  <meta name="keywords" content="{{ if isset .Params "keywords" }}{{ .Params.keywords | plainify }}{{ else }}{{ .Site.Data.settings.seo.keywords }}{{ end }}">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" href="{{ .Site.BaseURL }}assets/images/icons/touch-icon-iphone.png">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ .Site.BaseURL }}assets/images/icons/touch-icon-ipad.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ .Site.BaseURL }}assets/images/icons/touch-icon-iphone-retina.png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ .Site.BaseURL }}assets/images/icons/touch-icon-ipad-retina.png">

  <meta name="msapplication-TileImage" content="{{ .Site.BaseURL }}assets/images/ms/metro-tile.png">
  <meta name="msapplication-TileColor" content="#d76359">
  <meta name="theme-color" content="#ffffff">

  <link rel="shortcut icon" href="{{ .Site.BaseURL }}favicon.ico" type="image/x-icon">
  <link rel="icon" href="{{ .Site.BaseURL }}favicon.ico" type="image/x-icon">

  <link rel="apple-touch-startup-image" href="{{ .Site.BaseURL }}assets/images/icons/startup-ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
  <link rel="apple-touch-startup-image" href="{{ .Site.BaseURL }}assets/images/icons/startup-ipad-landscape-retina.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2)">
  <link rel="apple-touch-startup-image" href="{{ .Site.BaseURL }}assets/images/icons/startup-ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
  <link rel="apple-touch-startup-image" href="{{ .Site.BaseURL }}assets/images/icons/startup-ipad-portrait-retina.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2)">
  <link rel="apple-touch-startup-image" href="{{ .Site.BaseURL }}assets/images/icons/startup-iphone-retina.png" media="screen and (max-device-width: 320px) and (max-device-height: 1136px) and (-webkit-min-device-pixel-ratio: 2)">
  <link rel="apple-touch-startup-image" href="{{ .Site.BaseURL }}assets/images/icons/startup-iphone-old.png" media="screen and (max-device-width: 320px) and (max-device-height: 460px)">
  <link rel="apple-touch-startup-image" href="{{ .Site.BaseURL }}assets/images/icons/startup-iphone-old-retina.png" media="screen and (max-device-width: 320px) and (max-device-height: 460px) and (-webkit-min-device-pixel-ratio: 2)">

  <!-- Canonical -->
  <link rel="canonical" href="{{ .Permalink }}">

  <!-- Stylesheets -->
  {{ partial "styles" . }}

  <!-- Feeds -->
  <link href="{{ .Site.Data.settings.feeds.feedburner_url }}" rel="alternate" title="{{ .Site.Data.settings.title }}" type="application/rss+xml">
  <link href="{{ .Site.Data.settings.feeds.feedburner_url }}" rel="feed" title="{{ .Site.Data.settings.title }}" type="application/rss+xml">
  <link href="{{ .Site.Data.settings.feeds.jsonfeed_url }}" rel="alternate" title="{{ .Site.Data.settings.title }}" type="application/json">

  <!-- Generator -->
  {{ .Hugo.Generator }}

  <!-- Switch off Microsoft junk -->
  <meta name="MSSmartTagsPreventParsing" content="true">
  <meta http-equiv="imagetoolbar" content="no">

  <!-- JSON-LD Site name -->
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "kogakure",
      "url": "//kogakure.de"
    }
  </script>
</head>
